body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Fundo claro */
    color: #343a40; /* Texto escuro */
    padding: 20px;
}

header {
    background-color: #003366; /* Azul escuro */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.exam {
    margin: 20px 0;
    padding: 20px;
    background-color: #e3f2fd; /* Azul suave */
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.exam h2 {
    color: #005f8f; /* Azul intermediário */
    font-size: 1.8rem;
}

.exam p {
    font-size: 1rem;
    color: #555;
    
}

.btn-more {
    background-color: #0096c7; /* Azul intermediário */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-more:hover {
    background-color: #0077b6; /* Azul escuro ao passar o mouse */
}
.img-responsive {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.extra-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
}